.exercise-plan-root {
	max-width: 100%;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background-color: rgb(18, 15, 39);
}

.exercise-card {
	flex: 1;
	padding: 2em;
	padding-bottom: 5em;
	border: #888;
	background: rgb(55, 47, 109);
	filter: drop-shadow(0 0 5px black);
}

.div-card {
	max-width: 90%;
	padding: 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 2em;
	background-color: rgb(33, 27, 71);
	margin-left: auto;
	margin-right: auto;
}

.exercise-name {
	margin: 0.2em;
	color: white;
}

.exercise-info-text {
	margin: 0.1em;
	color: white;
}

.exercise-name-div {
	height: 80%;
}

.exercise-name-div-div {
	border: 0.1em solid darkslateblue;
	filter: drop-shadow(0 0 5px black);
}

.card-text-div {
	height: 40%;
	margin-bottom: 1em;
}

.image {
	border: 0.3em solid black;
	width: auto;
	max-height: 100%;
}

.ex-button {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.card-bodypart-select {
	padding: 0.5em;
	padding-left: 10%;
	padding-right: 7.5%;
	margin: 0.2em;
	margin-bottom: 1.5em;
	margin-top: 1em;
}
