#root {
  max-width: 100%;
  text-align: center;
}

.card {
  flex: 1 !important;
  padding: 2em !important;
  border: #888 !important;
  background: rgb(55, 47, 109) !important;
  filter: drop-shadow(0 0 5px black) !important;
}

/* .container.card {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: space-evenly !important;
  gap: 2em !important;
  background-color: rgb(33, 27, 71) !important;
} */

.exercise-name {
  margin: 0.1em !important;
}

.exercise-name-div {
  border: 0.1em solid darkslateblue !important;
  /* filter: drop-shadow(0 0 5px black) !important; */
}

.info {
  height: 32%;
}
.image {
  border: 0.3em solid black !important;
  width: 300px !important;
  height: 300px !important;
}

.button {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.card-bodypart-select {
  width: auto !important;
  padding: 0.5em;
  padding-left: 10%;
  padding-right: 7.5%;
  margin: 0.2em;
  margin-bottom: 1.5em;
  margin-top: 1em;
  border-radius: 10px;
}
